@font-face {
  font-family: 'xianti';
  src: url('../fonts/xianti.otf');
  src:
    url('../fonts/xianti.eot?#font-spider') format('embedded-opentype'),
    url('../fonts/xianti.woff') format('woff'),
    url('../fonts/xianti.ttf') format('truetype'),
    url('../fonts/xianti.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
html, body {
  width: 100%;
  background-color: #fefefe;
  font-family: 'xianti';
}

.loading::before {
	content: '';
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f0f0f0;
}

.loading::after {
	content: '';
	position: fixed;
	z-index: 10000;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 70px;
	margin: -35px 0 0 -15px;
	pointer-events: none;
	border: 3px solid #c61dc8;
	-webkit-animation: loaderAnim 0.8s ease-out infinite alternate forwards;
	animation: loaderAnim 0.8s ease-out infinite alternate forwards;
}

@-webkit-keyframes loaderAnim {
	to {
		-webkit-transform: translate3d(0, -100px, 0);
		transform: translate3d(0, -100px, 0);
	}
}

@keyframes loaderAnim {
	to {
		-webkit-transform: translate3d(0, -100px, 0);
		transform: translate3d(0, -100px, 0);
	}
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.header.bg {
  background: url('../images/bridge.jpg');
  background-position: 50%;
  background-size: cover;
}
.htitle {
  position: absolute;
  height: 60px;
  width: 100%;
  line-height: 60px;
  font-size: 60px;
  top: 50%;
  text-align: center;
  transform: translate(0, -50%);
  margin: 0;
  color: #FFF;
}
.brown {
  background-color: #0b538d;
}
.black {
  background-color: rgba(0, 0, 0, 0.9);
}
.sidebar {
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
  display: flex;
}
.sidebar .nav {
  flex: 1;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  background-color: rgba(222, 222, 222, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  color: #FFF;
  text-decoration: none;
}
.sidebar .nav:first-child {
  border: none;
}
.sidebar .nav:hover {
  background-color: rgba(222, 222, 222, 0.1);  
}

.fragment-outer-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.fragment-wrap {
  position: absolute;
  left: 0;
  top: 0;
	width: 100%;
	height: 100%;
  margin-right: 30%;
}
.fragment,
.fragment__piece {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}

.fragment {
	transition: transform 0.2s ease-out;
}

.fragment-wrap,
.fragment__piece {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0%;
}

.container {
  padding-top: 30px;
  margin: 0 auto;
}
.introduce {
  position: relative;
  overflow: hidden;
}
.content {
  position: relative;
  max-width: 960px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
}
.content .text-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  padding: 20px 0;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 1);
  writing-mode: tb-rl;
}
.text-wrap .text {
  line-height: 1.6;
}

@media screen and (max-width: 425px) {
  .content {
    top: 50%;
    transform: translate(-50%, -90%);
    color: #FFF;
  }
}

@media screen and (max-width: 768px) {
  .content .text-wrap {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, 0);
    width: 80%;
    padding: 0;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    writing-mode: lr-tb;
  }
  .text-wrap .text {
    line-height: 1.6;
  }
}